{%extends 'base.html.twig' %}

{% block contenu %}
<h1> TitreStage {{id}} </h1>

<p>
	Nom: nom{{id}}<br/>
	Activité: Activité{{id}}<br/>
	Adresse de l'entreprise: Adresse{{id}}<br/>
	Description: description{{id}}<br/>
	Fromation(s):Formation{{id}}<br/>
	Email: email{{id}}
</p>
{% endblock %}